.ui-widget {
    font-size: 16px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}

.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}

.column {
    font-weight: bold;
    background-color: lightgray;
}

.white{
    background-color:rgba(252,252,252,1) !important;
    background-image:none !important;
    color:#000000 !important;
}

.red{
    background-color:rgba(252,192,192,1) !important;
    background-image:none !important;
    color:#000000 !important;
}

.yellow{
    background-color:rgba(245,242,191,1) !important;
    background-image:none !important;
    color:#000000 !important;
}

.redOscuro{
    background-color:#ff0000 !important;
    background-image:none !important;
    color:#000000 !important;
}

.green{
    background-color:rgba(216,255,216,1) !important;
    background-image:none !important;
    color:#000000 !important;
}

.diagrama1 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(255, 159, 64);
    background-color: rgba(255, 159, 64, 0.5);
}

.diagrama2 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(75, 192, 192);
    background-color:rgba(75, 192, 192, 0.5);
}

.diagrama3 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border-top: 1px solid;
    border-color: rgb(255, 99, 132);
    background-color: rgba(255, 99, 132, 0.5);
}

.diagrama4 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(54, 162, 235);
    background-color: rgba(54, 162, 235, 0.5);
}

.diagrama5 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(255, 205, 86);
    background-color: rgba(255, 205, 86, 0.5);
}

.diagrama6 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(153, 102, 255);
    background-color: rgba(153, 102, 255, 0.5);
}

.diagrama7 {   
    width:14em; 
    height:4em;     
    text-align: center;
    font-size: 12px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(201, 203, 207);
    background-color: rgba(201, 203, 207, 0.5);
}

.ui-diagram-success {
    background-color: #9CB071;
    color: #ffffff;
    border-color: #7ab02c;
}

.ui-diagram-fail {
    background-color: #C34A2C;
    color: #ffffff;
}

.flow-label {
    font-size: 24px;
    font-weight: bold;
    color: #816A51;
}

.estiloPanelPrincipal{
    background: transparent !important;
}
body .ui-menu .ui-separator {
    border-bottom: 1px solid #c7cdd1;
    margin-left: 1px;
}
body {
    font-size: 18px !important;
}

.driverLicExpCal {
   width: 100px;
}

.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
}

.full-width
{

}

@media screen and (max-width: 1024px ) {
  .modalResponsivo { margin-top: 0px; width: 100px !important; height: 100px !important} }

@media screen and (min-width: 1024px ) {
  .modalResponsivo { margin-top: 0px; width: 200px !important; height: 200px !important }
}

@media screen and (max-width: 1024px ) {
  .modalResponsivoLabels { margin-top: 0px; font-size: 10px !important} }

@media screen and (min-width: 1024px ) {
  .modalResponsivoLabels { margin-top: 0px; font-size: 20px !important }
}

.my-style-class {
    width: 50%;
    height: 70%;
}